ion-content.json-render{
    --background: transparent;
}

.alert-img-songs {
    width: 55%;
    height: 55%;
}

.alert-label-songs {
    font-family: "Amatic SC"; 
    font-size: 25px;
    color: #1c0c4f; 
    padding-bottom: 0px;
}

.alert-songs .alert-button {
    font-family: 'Kalam', cursive;
    font-size: 25px;
    color: #1c0c4f; 
}

.alert-songs .alert-message {
    overflow: hidden;
}

.alert-label-songs-generic {
    font-family: "Amatic SC"; 
    font-size: 35px;
    color: #1c0c4f; 
    padding-bottom: 0px;
}