ion-toolbar.recover-toolbar{
    text-align: center;
    --background: transparent; 
}

.footer-image-recover{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
    font-family: 'Kalam';
    font-size: 16px;
}
ion-content.recover-background{
    --background: url('../../images/FondoRecuperarPass.png')  0 0/270px 486px repeat;  
    text-align: center;
}

ion-title.recover-title {
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: center;
    color: lightblue;
}

ion-label.recover-label-link{
    margin-left: auto;
    display: block;
    font-size: smaller;    
    font-family: 'Kalam', cursive;
    color: dodgerblue;
    text-align: center;
}
