ion-content.menu-content {
    --background: rgba(18, 06, 57, 0.5); 
    color: white;
}

ion-item.menu-footer {
    --background: rgba(18, 06, 57, 0.5); 
    border-bottom-left-radius: 40px;
    color: white;
}

ion-title.menu-title{
    margin-left: 25px;
    margin-top: 4px;
    text-align: center;
    font-family: 'Amatic SC',cursive;
    color:white;
    font-size: 40px;
}

ion-toolbar.menu-toolbar {
    --background: rgba(18, 06, 57, 0.5); 
    border-top-left-radius: 40px;
    text-align: center;
}

ion-menu-button.menu-button{
    float: right;
    font-size: 55px;
}

ion-menu.menu {
    --background: transparent;
    color: white;
}

ion-icon.menu-icon {
    position: relative;
    float: right;
}

.menu-footer-label{
    font-family: 'Kalam', cursive;
    position: relative; 
    left: 5px;
    font-size: 18px;
}

ion-item.menu-profile{
    --background: transparent;
}

.link {
    text-decoration: none;
}