ion-content.activity-content {
    --background: url('../../images/FondoLeeciones.png') 0 0/270px 486px repeat;
}

ion-card.card-body-activity {
    --background: transparent;
    color:#4dd7fa;
    height: 100vh;
}

ion-progress-bar.activity-progress-bar{
    height: 10px;
    --progress-background: #c238eb;
    --background: white; 
    border-radius: 15px;
}

ion-card-content.activity-container-piano {
    padding: 0px;
}

ion-card-content.activity-progress-bar-container {
    border-radius: 15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #1c0c4f;
}

ion-icon.progress-star {
    position: absolute; 
    z-index: 3; 
    color: #4dd7fa; 
    top: -1px;
    height: 24px; 
    width: 24px;
}

.alert-img {
    width: 75%;
    height: 75%;
}

.alert-label {
    font-family: "Amatic SC"; 
    font-size: 40px;
    color: #1c0c4f; 
    padding-bottom: 0px;
}

.alert-activity-wrong .alert-wrapper {
    background: #FFD2C8;
}

.alert-activity .alert-button {
    font-family: 'Kalam', cursive;
    font-size: 25px;
    color: #1c0c4f; 
}

.alert-activity .alert-message {
    overflow: hidden;
}

.alert-img-final {
    display: block;
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
}

.alert-label-final {
    display: inline-block;
    font-family: "Amatic SC"; 
    font-size: 30px;
    color: #1c0c4f; 
    padding-bottom: 0px;
}
