.white{
    background-color: white;
}

.black{
    background-color: black;
}

.piano-key-white:active {
    background-color: #d2def7 !important;
    height: 98% !important;
}

.piano-key-white:focus {
    outline: 0 !important;
}

.piano-key-black:active {
    background-color: #041b4d !important;
    height: 59% !important;
}

.piano-key-black:focus {
    outline: 0 !important;
}