ion-item.recover-item {
    --background: transparent;
    --ion-font-family: 'Amatic SC', cursive;
    font-size: 30px;
    color: lightblue;
}

.recover-error-alert{
    font-weight: bold;
    font-family: 'Kalam', cursive;
    color:crimson;
    font-size: 16px;
  }

ion-input.recover-input{
    font-family: 'Kalam', cursive;
    font-size: 17px;
    color: white;
}

ion-button.recover-button{
    --background: darkorchid;
    --border-radius: 10px;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: center;
}

ion-alert.alert-message {
    font-family: "Amatic SC"; 
    text-align: center; 
    color: #1c0c4f;
    font-size: 40px;
    --background: lightblue;
  }


.alert-img-recover {
    display: block;
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
}

.alert-label-recover {
    font-family: "Amatic SC"; 
    font-size: 30px;
    color: #1c0c4f; 
    padding-bottom: 0px;
}

.alert-recover .alert-button {
    font-family: 'Kalam', cursive;
    font-size: 25px;
    color: #1c0c4f; 
}

.alert-recover .alert-button-group {
    position: relative;
}

.alert-recover .alert-message {
    overflow: hidden;
}