ion-content.settings-background {
    --background: url('../../images/FondoAjustes.png') 0 0/270px 486px repeat;
}

ion-toolbar.settings-toolbar {
    --background:transparent;
}

ion-title.settings-title {
    position: absolute; 
    left: calc(50% - 63.5px); 
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    color: white; 
}

ion-menu-button.menu-button-settings{
    position: absolute; 
    left: calc(100% - 50px);
    font-size: 55px;
}

ion-card.settings-card {
    --background: rgba(212, 227, 252, 0.8);
    border-radius: 25px;
    --color:black; 
}

ion-card-content.settins-card-content {
    --color: black;
}

ion-button.save-button {
    position: absolute; 
    right: 10px;
    z-index: 2;
    --background: transparent;
    width: 50px;
    height: 50px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --border-width: 0;
    --inner-border-width: 0;
}

ion-button.close-button {
    z-index: 2;
    --background: transparent;
    width: 50px;
    height: 50px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --border-width: 0;
    --inner-border-width: 0;
}

.settings-info-container{
    position: relative;
    margin-top: 10px;
    border-style: solid;
    border-radius: 25px;
    background: transparent;
    color:black;
    margin-bottom: 5px;
    width: 100%;
}

.title-data {
    position: relative;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    color: black;
    left: 20px;
}


ion-item.settins-email-label{
    position: relative;
    --background: transparent;
    font-family: 'Kalam', cursive;
    --color: black;
    margin-top: 10px;
    font-size: 20px;
    width: calc(100% - 20px);
}

ion-input.settings-input{
    position: relative;
   
    background: transparent;
    --border-radius: 20px;
    --color: black;
    --placeholder-color: black;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    left: 10px;
    width: calc(100% - 20px);
}

ion-item.input-container {
    display: block;
}

ion-item.item-setting{
    --background: transparent;
    --inner-padding-end: 0px;
    --border-width: 0;
    --inner-border-width: 0;
    --padding-start: 7.5px;
    --highlight-height: 0;
}

ion-item.settings-avatar-container {
    z-index: 20;
    --background: transparent;
    width: 500px;
    height: 500px;
    --inner-padding-end: 0px;
    --padding-start: 7.5px;
    --border-width: 0;
    --inner-border-width: 0;
}

.alert-img-settings {
    display: block;
    width: 55%;
    height: 55%;
    margin-left: auto; 
    margin-right: auto;
}

.alert-label-settings-update{
    font-family: "Amatic SC"; 
    font-size: 25px;
    color: #1c0c4f; 
    padding-bottom: 0px;
}

.alert-label-settings {
    font-family: "Amatic SC"; 
    font-size: 35px;
    color: #1c0c4f; 
    padding-bottom: 0px;
}

.alert-settings .alert-button {
    font-family: 'Kalam', cursive;
    font-size: 25px;
    color: #1c0c4f; 
}

.alert-settings .alert-message {
    overflow: hidden;
}

.avatar-settings {
    position: relative;
    text-align: center;
    font-family: 'Kalam', cursive;
    color: black;
    font-size: 20px;
}