ion-card.lesson-card-body {
    --background: rgba(212, 227, 252, 0.7);
    border-radius: 25px;
}

ion-card-title.lesson-card-title {
    font-weight: 700;
    font-size: 35px;
    font-family: "Amatic SC";
    color:#1c0c4f ;
}

ion-card-subtitle.lesson-card-subtitle {
    font-style: oblique;
    font-size: 20px;
    font-family: "Kalam";
    color:#1c0c4f ;
    text-align: right;
}

ion-card-content.lesson-card-content {
    font-size: 20px;
    font-family: "Kalam";
    color:#1c0c4f ;
    text-align: justify;
    text-justify: inter-word;
}

ion-card-content.item-video {
    --background: transparent;
    padding: 0;
    height: 50vh;
}

ion-label.label-content {
    margin: 5px; 
}

ion-row.sound-row {
    text-align: center;
    line-height: 0.9;
}

ion-col.sound-col {
    text-align: center;
    line-height: 0.9;
}

ion-img.gif-lesson {
    size: 200px;
}

ion-img.img-lesson {

}

ion-col.img-col {
    display: flex;
    justify-content: center;
    text-align: center;
}

ion-label.img-title {  
    font-size: 12px;
    color:black ;
}

ion-label.gif-footer {  
    font-size: 12px;
    color: black;
}

ion-button.lesson-narrator {
    float: right;
    margin-left: 30px;
    height: 40px;
    width: 40px;
    --border-radius: 50%;
    --background:transparent;
}

ion-label.lesson-narrator-icon{
    font-size: 60px;
    margin-top: 7px;
    color: #1c0c4f;
}

ion-button.lesson-activity{
    position: relative;
    width: 100%;
    color: white;
    font-family: "Amatic SC";
    font-size: 26px;
    --background: #7e2199;
    --border-radius: 10px;
}

ion-item.lessons-resources {
    text-align: center;
    color: black;
    width: 100%;
    --background: transparent;
    --border-radius: 30px;
}

ion-title.resources {
    font-family: "Amatic SC";
    font-size: 26px;
}