ion-content.home-background {
    --background: url('../images/FondoInicio.png')  0 0/270px 486px repeat;  
}

ion-toolbar.home-toolbar {
    --background:transparent;
}

ion-title.home-title {
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    color: #1c0c4f; 
    text-align: center;
}

ion-menu-button.menu-button-home{
    font-size: 55px;
}

ion-card.home-card {
    --background: rgba(212, 227, 252, 0.7);
    border-radius: 25px;
}

ion-item.next-lesson-item {
    --background: transparent; 
    
}

.home-avatar-container {
    position: relative;
    display: flex;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 10px;
}

.home-text-position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.home-avatar-text {
    font-family: 'Kalam', cursive;
    color: #9c29b7;
    font-size: 24px; 
    width: 55%;
    text-align: center;
    position: relative;
}

.home-avatar-item {
    position: relative; 
    top: calc(50% - 60px);
    width: 50%;
}

.home-avatar-wrapper {
    text-align: center;
}

.home-avatar-img {
    text-align: center;
    vertical-align: middle;
    width: 160px; 
    height: 160px; 
}

.home-container {
    position: relative; 
    width: 100%;
}

.home-first-text {
    font-size: 28px;
    font-weight: bolder;
    font-family: 'Amatic SC', cursive;
    color: #1c0c4f;
    margin-left: 10px;
    text-align: center;
}

.home-second-text {
    position: relative;
    font-family: 'Kalam', cursive;
    
    font-size: 20px;
    color: #9c29b7;
    text-align: center;
}

.home-third-text {
    width: 100%;
    font-family: 'Kalam', cursive;
    color: #1c0c4f; 
    font-size: 20px; 
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

.home-container-wrapper {
    width: calc(95% - 90px);
    position: relative; 
    left: 90px;
    background-color: rgba(255, 255, 255, 0.55);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    height: 110px;
    margin-left: 10px;
    text-align: center;
}

.home-image-wrapper {
    display: inline;
    width: 110px; 
    height: 110px; 
}

.home-img {
    position: absolute;
    left: -90px;
    border-radius: 20%;
    border: 5px solid #1c0c4f;
    width: 110px; 
    height: 110px; 
    background-color: rgba(89, 89, 179);
}

.home-title-wrapper {
    display: inline;
    width: 100%;
    height: 100%;
    text-align: center;
}

.home-title-text {
    width: 80%;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    color: #9c29b7; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
    .home-splash-img {
        height: 65%; 
        width: 95%;
    }
}

@media screen and (orientation: landscape) {
    .home-splash-img {
        height: 80%; 
        width: 40%;
    }
}

.home-splash-div {
    background: url('../images/FondoInicio.png')  0 0/270px 486px repeat;  
    height: 100%; 
    width: 100%;
}

.home-splash-title{
    font-size: larger;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-align: center;
    color: white;
}

.home-splash-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}