.item-avatar  {     
    width: 100%;  
    height : 100%;  
    max-width: 100px; 
    max-height: 100px;
    border-radius: 50%;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    bottom: 0px;
    text-align: center;
    background: transparent;
    border: 2px;
    border-color: rgb(26, 4, 37);;
}