ion-content.newAccount-background{
    --background: url('../../images/BackgroundLogin.png') no-repeat center center / cover;
    color:white;
  }
  
  ion-card.newAccount-card{
    --background: transparent;
    box-shadow: none !important;
    border: none;
    text-align: center;
  }
  
  ion-card-header.newAccount-header{
    text-align: center;
    color: darkorchid;
    font-size: 25px;
  }

  ion-title.newAccount-title{
    --background: transparent;
    text-align: center;
    color: lightblue;
    font-size: 20px;
    font-family: 'Kalam',cursive;
    font-weight: bold;
  }
  
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    bottom: 0px;
    text-align: center;
    background: transparent; 
}

ion-item.back-ground{
  --background: transparent;
  width: 50%;
  left: 25%;
}

ion-card-content.avatar-card-content{
  text-align: justify;
  font-size: 17px;
  font-family: 'Kalam',cursive;
  color: rgb(26, 4, 37); 
}

ion-card.cat-card-background {
  --background: darkorchid;
}

ion-card.dog-card-background {
  --background: darkorchid;
}

ion-card.bird-card-background {
  --background: darkorchid;
}

ion-card.dino-card-background {
  --background: darkorchid;
}

ion-card.frog-card-background {
  --background: darkorchid;
}

ion-card.fox-card-background {
  --background: darkorchid;
}