.link-lesson {
    text-decoration: none;
}

ion-item.ion-link {
    --background: transparent;
    --color:white;
    top: 10px;
}

ion-checkbox.lesson-checked {
    position: relative; 
    --checkmark-color: #00a4d3;
    --background-checked: white;
    right: 5px;
}

.individual-name {
    --ion-font-family: 'Kalam', cursive;
    color:white;
    font-size: 18px;

}
