.lesson-card {
    margin-top: 8px;
}

.lesson-header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 100%;
    height: 60px;
    box-shadow: none;
    border: none; 
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    color:white;
    border-radius: 15px;
}

ion-card-content.lesson-content {
    border: none; 
    margin-block-end: -25px;
    margin-left: -10px;
    box-shadow: none;
    margin-bottom: 10px;
}

ion-item.lesson-item {
    --background: transparent;
}

.lesson-progress {
    position: relative;
    top: calc(50% - 17.5px);
    right: 10px;
    font-size: 18px;
    border-radius: 50px;
    width: 90px;
    height: 35px;
    text-align: center;
    padding: 2px;
    --background: transparent;
    float: right;
}

.lesson-name {
    position: relative;
    top: calc(50% - 17.5px);
    display: inline; 
    margin-left: 10px;
    font-size: 30px;
}

ion-label.lesson-progress-tag {
    position: relative;
    top: 6px;
}

ion-icon.lesson-progress-icon {
    position: relative;
    color: gold; 
    font-size: x-large;
    top: 6px; 
}

ion-progress-bar.lesson-progress-bar {
    --buffer-background: white;
    --progress-background:#00a4d3;
    margin-top: 8px;
    height: 6px;
    border-radius: 5px;
}

@media screen and (orientation: landscape) {
    ion-progress-bar.lesson-progress-bar {
        /*position: relative; 
        right: 3%; */
        width: 100%;
    }
}

@media screen and (orientation: portrait) {
    ion-progress-bar.lesson-progress-bar {
        width: 100%;
    }
}

.bar-container {
    margin-left: 20px;
    margin-right: 20px;
}

.ion-color-white {
    --ion-color-base: #ffffff;
}

.ion-color-light-blue {
    --ion-color-base: rgba(223, 236, 255, 0.911);
}

.ion-color-light-grey { 
    --ion-color-base: #c9c9c9; 
}

.unblock-background-color-progress {
    background-color: rgba(18, 06, 57, 0.8);
}

.block-background-color-progress {
    background-color: rgba(35, 35, 35, 0.9);
}

.unblock-background-color-header {
    background-color: rgba(18, 06, 57, 0.6);
}

.block-background-color-header {
    background-color: rgba(35, 35, 35, 0.7);
}