ion-item.recommended-item {
    box-shadow: none;
    border: none; 
    --background: transparent;
}

.title-label {
    font-size: 30px;
}


.name-label {
    position: relative;
    top: calc(50% - 17.5px);
    display: inline; 
    margin-left: 10px;
    font-size: 30px;
}

.recommended-div-header {
    width: 100%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    border: none; 
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    color:white;
    background-color: rgba(18, 06, 57, 0.6);
    border-radius: 15px;
}

.title-position {
    position: relative;
    top: -27px;
    left: 10px;
}
.recommended-card {
    position: relative; 
    
}

.recommended-img{
    width: 75px;
    height: 75px; 
    border-radius: 25% ;
}

.recommended-div-container {
    display: inline;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    color:white;
}

.recommend-border-cero {
    border-bottom-left-radius:  0px;
    border-bottom-right-radius:  0px;
}

.recommended-content-background {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100px;
    border: none; 
    padding: 10px;
    background-color: rgba(18, 06, 57, 0.6);
    border-bottom-left-radius:  15px;
    border-bottom-right-radius:  15px;
}

.recommended-card {
    margin-bottom: 10px;
}
