ion-content.not-found-background {
    --background: url('../../images/FondoLogin.png')  0 0/270px 486px repeat;  
}

ion-toolbar.not-found-toolbar {
    --background:transparent;
}

ion-title.not-found-title {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}

ion-card.not-found-card {
    --background: rgba(212, 227, 252, 0.7);
    border-radius: 25px;
}

ion-button.not-found-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Kalam', cursive;
    font-size: 15px;
}

.not-found-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.not-found-div-container {
    font-size: 20px;
}

.not-found-text {
    text-align: center;
    color: black;
    font-family: 'Kalam', cursive;
}

